.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.75rem;

  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.container + .container {
  margin-top: 0.75rem;
}

.todoInfo {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  font-size: 0.875rem;
  color: var(--gray-100);
}

.checkbox {
  position: relative;
  top: 0.225rem;
  outline: none;
  cursor: pointer;
}

.checkbox:before,
.checkbox:after {
  content: "";

  position: absolute;
  top: -0.125rem;
  left: -0.125rem;
  z-index: 1;

  width: 0.875rem;
  height: 0.875rem;

  background: var(--gray-400);

  border: 2px solid var(--blue-500);
  border-radius: 50%;
}

.checkbox:after {
  z-index: 0;
  border: none;
}

.checkbox:checked::before {
  background: var(--purple-700);
  border: 2px solid var(--purple-700);
}

.titleCompleted {
  text-decoration-line: line-through;
  color: var(--gray-300);
}

.deleteButton {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: transparent;
  color: var(--gray-300);
}

.deleteButton:hover {
  background: var(--gray-400);
  color: var(--red-500);
  border-radius: 4px;
  cursor: pointer;
}
